<h2><%= topic.title %></h2>
<p><%= topic.description || 'Sin descripción' %></p>
<p>Votos del tema: <span id="topic-votes-<%= topic.id %>"><%= topic.votes %></span></p>



<button
  type="button"
  data-vote
  data-url="/api/topics/<%= topic.id %>/vote"
  data-counter="#topic-votes-<%= topic.id %>">
  Votar este tema
</button>



<hr />

<h3>Enlaces</h3>

<ul data-link-list>
  <% links.forEach(link => { %>
    <li data-link-id="<%= link.id %>" data-votes="<%= link.votes %>">
      <a href="<%= link.url %>" target="_blank" rel="noopener noreferrer">
        <%= link.title %>
      </a>
      votos: <span id="link-votes-<%= link.id %>"><%= link.votes %></span>


      <button
        type="button"
        data-vote
        data-url="/api/topics/<%= topic.id %>/links/<%= link.id %>/vote"
        data-counter="#link-votes-<%= link.id %>">
        Votar
      </button>


      <a href="/topics/<%= topic.id %>/links/<%= link.id %>/edit">Editar</a>

      <form action="/topics/<%= topic.id %>/links/<%= link.id %>/delete" method="POST" style="display:inline;">
        <button type="submit">Eliminar</button>
      </form>
    </li>
  <% }) %>
</ul>



<hr />

<h3>Agregar enlace</h3>
<form action="/topics/<%= topic.id %>/links" method="POST">
  <div>
    <label>Título del enlace</label><br />
    <input type="text" name="title" required />
  </div>
  
  <div>
    <label>URL</label><br />
    <input type="text" name="url" placeholder="https://..." required />
  </div>
  
  <button type="submit">Agregar</button>
</form>

<hr />

<p>
  <a href="/topics">Volver</a> |
  <a href="/topics/<%= topic.id %>/edit">Editar tema</a>
</p>

<script src="/js/votes.js"></script>
